/* variables */
:root {
  --primary-color: #931420;
  --accent-color: #f6bb73;
  --light-accent: #fffded;
  --light: white;
  --dark: black;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the default styles for the elements */
html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 80%;
  margin: auto;
  border: 3px solid var(--primary-color);
}
header,
section,
aside,
footer {
  padding: 1em;
}
h1,
h2,
h3,
p,
article,
blockquote {
  padding-bottom: 0.5em;
}
ul {
  margin-left: 1em;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 120%;
}
h3 {
  font-size: 110%;
}
a:focus,
a:hover {
  font-style: italic;
}

/* the styles for the header */
header {
  border-bottom: 3px solid var(--primary-color);
  background-image: linear-gradient(
    30deg,
    var(--accent-color) 0%,
    var(--light-accent) 25%,
    var(--light) 50%,
    var(--light-accent) 75%,
    var(--accent-color) 100%
  );
  & h2 {
    font-size: 175%;
    color: var(--primary-color);
    padding-bottom: 0;
  }
  & h3 {
    font-size: 130%;
    font-style: italic;
  }
  & img {
    float: left;
    margin: 0 30px;
    width: clamp(40px, 15%, 66px);
  }
}

/* the styles for the main element */
main {
  clear: left;
  display: flex;
}

/* the styles for the section */
section {
  flex-basis: 75%;
  & h1 {
    color: var(--primary-color);
  }
  & article + h2 {
    clear: left;
    color: var(--primary-color);
    border-top: 3px solid var(--primary-color);
    padding-top: 0.5em;
  }
}

/* the styles for the article */
article {
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  & img {
    float: left;
    margin: 0.25em 1em 1em 0;
    border: 1px solid var(--dark);
    width: min(100%, 225px);
  }
}

/* the styles for the aside */
aside {
  flex-basis: 25%;
  & h2 {
    color: var(--primary-color);
  }
  & img {
    margin-bottom: 0.9em;
  }
  & blockquote {
    font-style: italic;
    margin-left: 0.5em;
  }
}

/* the styles for the footer */
footer {
  background-color: var(--primary-color);
  & p {
    text-align: center;
    color: white;
    padding-bottom: 0;
  }
}

/* the styles for the navigation menu */
.navbar {
  position: relative;
  background-color: var(--primary-color);
  & ul {
    list-style-type: none;
    margin: 0;
  }
  & a {
    display: block;
    padding: 0.75em;
    text-decoration: none;
    color: var(--light);
  }
  & a.current {
    color: var(--accent-color);
    font-weight: bold;
  }
  & a.current:hover {
    font-style: normal; /* override hover effect */
  }
}

.menu {
  position: absolute;
  left: 0;
  background-color: var(--primary-color);
  width: 50%;
  display: none; /*hide the nav menu*/
	z-index: 1;
}
.menu1 {
	width: 30%;
}

/* format menu button */
.menu-btn {
  display: block;
  padding: 0.7em;
  color: white;
  font-size: 1.5em;
}
/* hamburger symbol */
.menu-btn::after {
  content: "\2630";
}
/* checkbox is always hidden */
#checkbox-toggle,
#checkbox-toggle2 {
  display: none;
}
/* when checkbox is checked, display the menu and the close symbol */
#checkbox-toggle:checked ~ .menu {
  display: block;
}
#checkbox-toggle:checked ~ .menu-btn::after {
  content: "\2716";
}
#checkbox-toggle2:checked ~ .menu {
  display: block;
}
#checkbox-toggle2:checked ~ .menu-btn::after {
  content: "\2716";
}

/* Submenu */
.menu li:has(.submenu) {
  position: relative;

  & small::after {
    content: "\25b6"; /* right triangle */
  }
  & small {
    margin-left: 0.5em; /* add space */
  }
  &:hover > .submenu {
    display: block;
  }
}
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--primary-color);
  color: var(--light);
  width: 100%;
  display: none;
}

/*Define the navbar class as a container*/
.navbar {
  container-type: inline-size;
  container-name: navContainer;
}

@container navContainer (min-width:560px) {
  /* the styles for the navigation menu */
  .menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  /* hide menu button */
  .menu-btn {
    display: none;
  }
  /* make sure menu displays horizontally if menu checkbox is checked */
  #checkbox-toggle:checked ~ .menu {
    display: flex;
  }
	#checkbox-toggle2:checked ~ .menu {
    display: flex;
  }

	 /* Submenu */
	 .menu li:has(.submenu) {
    position: relative;

    & small::after {
			content: "\25bc"; /* down triangle */
		}
		& small {
			margin-left: 0.5em; /* add space */
		}
    &:hover > .submenu {
      display: block;
    }
  }
  .submenu {
    left: 0;
    right: 0;
		top: auto;
  }
}
